
html, body {
    height: 100%;
}
.donateBody {
    display: grid;
    flex-direction: column;
    grid-template-rows: 20rem 8rem 20rem 20rem 10rem ;
    grid-template-areas:
    "grid1"
    "grid2"
    "grid3"
    "grid4"
    "grid5";


}

.grid1 {
    grid-area: grid1;
    display: grid;
    background-image: url("../donateBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    grid-template-rows: 10rem 10rem;
    grid-template-areas:
    "header header"
    "register guest";
}

h1 {
    color: var(--green);
}
.don-header {
    grid-area: header;
    margin: 3rem auto;
    text-align: center;
    justify-self: center;
}

.don-reg {
    grid-area: register;
    /* position: relative; // dont use positong + grid-area
    right: 2rem; */
    
}

.don-guest {
    grid-area: guest;
  
}

.don {
    --width: 10em;
    --height: 3em;
    
    align-self: flex-start;
    margin: 0 auto;
    font-family: 'Ubuntu', Arial;
    min-width: var(--width);
    min-height: var(--height);
    border-radius: 5rem;
    background: white;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid var(--blue);
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    transition: all 0.3s ease-in-out 0s;
}

.don::before {
    content:'';
    border-radius: 5rem;
    position: absolute; /*absolute relative to .don-rec*/
    top: 50%;
    left: 50%;
    min-width: calc(var(--width) + 6px);
    min-height: calc(var(--height) + 6px);
    border: none;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out 0s;
}

.don:hover, .don:focus {
    transform: translateY(-6px);
    border: 2px solid var(--green);
    animation-name: button-select;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.grid2 {
    grid-area: grid2;
    display: inline-flex;
}

.grid2 img {
    height: 60%;
    width: 50%;
    margin: 3rem 2rem 0rem 2rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.grid3 {
    grid-area: grid3;
}

.grid3 img {
    margin-top: 2rem;
    height: 50%;
    width: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}


@media screen and (max-width: 1111px) {
    .grid2 img {
        width: 30%;
        height: 30%;
    }
}



@media screen and (max-width: 500px) {
    .grid1 {
        display: flex;
        flex-wrap: wrap;
    }
}