footer {
    height: 10rem;
    color: white;
    display: grid;
    grid-template-areas: 
    "support community social-copyright";
    background-color: #AEADAD;
    justify-self: stretch;

}

footer li {
    margin: 0.4rem 0;
}
.support {
    grid-area: support;
    margin-left: 2rem;
    margin-top: 1rem;
    
}

.support > :first-child {
    margin: 0 0 0.6rem 0;
    font-size: 1rem;
}
.support a {
    color: white;
}


.community {
    grid-area: community;
    align-self: flex-start;
    margin-top: 1rem;
    margin-left: -6rem;
}

.community > :first-child {
    margin: 0 0 0.6rem 0;
    font-size: 1rem;
}

.community a {
    color: white;
}

.social-copyright {
    grid-area: social-copyright;
    display: grid;
    grid-template-areas: 
    "social"
    "copyright";

}

.social {
    grid-area: social;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 2rem;
}

.social a {
    color: #AEADAD;
}

.copyright {
    grid-area: copyright;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0 2rem 1rem 0;

}

@media screen and (max-width: 700px) {

    .img-slide { /*classList.add to newDiv*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* .img-slide img { 
        width: 30%;
        
        
    } */
    footer {
        grid-template-areas: 
        "social-copyright"
        "support" 
        "community" 
        ; 
        justify-content:center;
        justify-items: center;
        text-align: center;
    }

    .social-copyright {
        display: flex;
        flex-wrap: wrap;
        justify-self: center;
        
        flex-direction: column;
        margin-top: 0.5rem;

    }

    .social {
        margin: 0 auto;
    }

    .support {
        margin: 0;
        grid-area: support;
        transform: translateY(-1rem);
    }

    .community {
        margin: 0;
        grid-area: community;
        transform: translateY(-1rem);
    }

    h3 {
        margin: 0 auto;
    }

    .support li {
        display: none;
    }

    .community li {
        display: none;
    }

    .copyright {
        display: flex;
        margin: 0 auto;
        transform: translateY(6rem);

    }

    .fa {
        margin: 0.5rem 0.5rem;
    }

}


