@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
    height: 100%;
    width: infinite;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu', Arial;
}

:root {
    --blue: #00ccff;
    --green: #32CD32;

}

.container {
    display: grid;
    grid-template-rows: 27.5rem 7rem 27.5rem ;
    grid-template-areas: 
    "hero"
    "crypto-icons"
    "the-how";
    justify-items: center;
    
}

nav {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%; /*span across grid row*/ 

}

.logo {
    border: none;
    --width: 10em;
    --height: 2.5em;
    min-height: 2rem;
    min-width: 10rem; 
    border-radius: 5em;
    background: white;
    color: var(--blue);
    letter-spacing: 0.2em;
    position: relative;
    font-size: 1em;
    font-weight: bold;
    margin-left: -25em;
    margin-right: 10em;
    
}

.logo::before {
    content: '';
    border-radius: 5em;
    position: absolute;
    top: 50%; /*centers ::before onto logo*/
    left: 50%;
    z-index: -1;
    background-color: var(--blue);
    transform: rotate(-3.5deg) translate(-50%, -70%);
    min-width: calc(var(--width) + 3em);
    min-height: calc(var(--height) - 1.1em);
    border: 6px solid var(--blue);
}

.logo::after {
    content: '';
    z-index: -2;
    border-radius: 5em;
    position: absolute;
    min-width: calc(var(--width) + 3em);
    min-height: calc(var(--height) - 0.5em);
    border: none;
    background: var(--green);
    transform: rotate(3.5deg) translate(-90%, 15%);

}

.nav-links {
    margin: 0 4em;
    list-style: none;
    font-weight: bold;
    
}


a {
    text-decoration: none;
    color: var(--blue);
    transition: all .3s ease-in-out;
}

li {
    list-style: none;
    
}

a:hover {
    color: var(--green);
}

.sign-up {
    border: 2px solid black;
    min-height: 2em;
    width: 6em;
    border-radius: 5em;
    font-size: 1em; /*1em = 16px*/
    background: white;
    color: var(--blue);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: -22em;
}

.sign-up:hover, .sign-up:focus {
    background: var(--blue);
    color: white;
}


.hero {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    background-image: url("../CSS/crypto-unite-web-banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;

    grid-template-areas: 
    "title title"
    "donate receive"; 
    justify-self: stretch;
     /* flex-direction: column; center text
    justify-self: stretch;  */
    
}

.homeh1 {
    /* margin: 3rem auto; */
    /* text-align: center; */
    color: var(--green);
    grid-area: title;
    align-self: center; 
    justify-self: center;
    
        
}



.donate {
    grid-area: donate;
    /* grid-area: donate;
    position: relative;
    left:20%; */
  

}

.receive {
    grid-area: receive;
    /* grid-area: receive; */
    /* position: relative;
    right: 20%; */
   
    
}

.don-rec {
    
    --width: 10em;
    --height: 3em;
    
    align-self: flex-start;
    margin: 0 auto;
    font-family: 'Ubuntu', Arial;
    min-width: var(--width);
    min-height: var(--height);
    border-radius: 5rem;
    background: white;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid var(--blue);
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    transition: all 0.3s ease-in-out 0s;
    position: relative; /*for ::before pseudo-element*/
}

.don-rec::before {
    content:'';
    border-radius: 5rem;
    position: absolute; /*absolute relative to .don-rec*/
    top: 50%;
    left: 50%;
    min-width: calc(var(--width) + 6px);
    min-height: calc(var(--height) + 6px);
    border: none;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out 0s;

}

.don-rec:hover, .don-rec:focus {
    transform: translateY(-6px);
    border: 2px solid var(--green);
    animation-name: button-select;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.don-rec:hover::before, .don-rec:focus::before {
    opacity: 1;
    
}

.bitcoin-container {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    width: 50%;
}

img {
    margin: 0 2ch ;
    width: 40%;
    height: 100%;
}

@media screen and (max-width: 1000px) {

    .container {
        grid-template-rows: 27.5rem 7rem 30rem;
    }
    .logo {
        margin-left: -13em;
        margin-right: 5em;
    }

    .nav-links {
        margin: 0 2em;
    }

    .bitcoin-container {
        display:inline-flex;
        overflow: hidden;
        /* overflow-x: auto; */
        width: 50%;
        user-select: none;
    
        /* box-sizing: border-box; /*WID?*/ 
        /* flex-wrap: wrap; */
        /* overflow-x: scroll; */
        /* white-space: nowrap; WID? */
    }

    .bitcoin-container img {
        width: 100%;
        flex: 0 0 auto;
    }

    img {
        margin: 0 auto;
        width:50%;
        height: 100%;
    }

    .bitcoin-container::-webkit-scrollbar {
        /* width: 5em;
        height: 1em;*/
    }
}

@media screen and (max-width: 600px) {
    .hero {
        display: flex;
        flex-wrap: wrap;
        
    }
}

