.successContainer {
    height: 30rem; /*same height as signup form*/ 
    width: 100%;
    margin-bottom: 0;
    /* min-height: calc(100vh - 18.7rem); */

}
/*WTF why does this only work at 30rem height?*/
.successContainer > div {
position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.successContainer h2 {
    color: var(--green);
}

.successContainer p {
  color: var(--green);
}